<!DOCTYPE html>
<html>
    <head>
        <title>Text Prediction</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
        <style>

            .title {
                margin-top: 5%;
                font-size: 22px;
                text-align: center;
            }

            .textpred-cointainer {
                margin-top: 10%;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <p class="title">Text Prediction using NLTK Maximum Likelihood Estimate(MLE) model</p>
            <div class="row justify-content-center">
                <div class="col-lg-8 textpred-cointainer">
                    <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Input text</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter words">
                          <small id="emailHelp" class="form-text text-muted">Type something and we'll predict the next word based on the model.</small>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </body>
</html>